doctype html
html
    head
        title Password Input Control
    body
        form#login-form
            . 
                User ID:
            input(type="text", name="user_id")
            br
            .
                Password: 
            input(type="password" name="password")