html
    head
        link(href='style.css', rel='stylesheet')
        title #{title}
    body
        p.lorem-paragraph
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet sem nec libero vulputate dignissim tincidunt et lacus. 
        | Maecenas sit amet urna et diam tristique imperdiet. Aenean hendrerit turpis ac malesuada iaculis. 
        | Donec vitae nulla vulputate ex ultricies lobortis. Quisque porta semper lobortis. Vivamus ornare at sapien non semper. 
        | Praesent ultricies tellus vel purus aliquam convallis. Phasellus sapien turpis, finibus tincidunt sem eget, 
        | elementum pellentesque ligula. Maecenas vel tellus nec ex iaculis gravida. Proin eros odio, tempor vitae arcu molestie, 
        | vehicula cursus dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
        | Morbi lacus risus, bibendum in nunc at, luctus consequat libero. 
        ul
            each value in ['this','is','a','loop']
                li= value